
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #0a0a0a; /* dark background */
  color: #ddd;               /* light gray text */
  font-family: sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container {
  padding-top: 10vh; /* start slightly down from top */
}

h1 {
  margin: 0;
  color: #d28eff; /* soft purple */
}

.domain {
  margin: 0.5em 0 2em;
  color: #ff82d2; /* soft pink */
  font-size: 1.2em;
}

.links a {
  margin: 0 1.5em;
  text-decoration: none;
  color: #d28eff; /* purple default link */
}

.links a:nth-child(2) {
  color: #ff82d2; /* pink second link */
}

.links a:nth-child(3) {
  color: #d28eff; /* purple third link */
}
